:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.table {
    background-color: #3f88c5;
    height: 100vh;
    padding-top: 5rem;
}

.conteiner {
    margin: auto;
    width: 25vw;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 0.5rem;


    background-color: #fffa62;
    width: 40vw;
    border-radius: 0.625rem;
    box-shadow: 0.875rem 0.875rem 0 0 #0004;
    padding: 0.5rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    width: 5rem;
    height: 6rem;
    background-color: #ffcf7f;
    border-radius: 00.625rem;
    cursor: pointer;
    color: transparent;
    transform: rotatey(180deg);
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
}

.open {
    background-color: #ff9000;
    color: black;
    transform: rotateY(0);

}